.user-image{
    width: 2em;
    height: 2em;
}

.dropdown-toggle::after{
    content: none;
}

.card {
    box-shadow: 1px, 1px, 2px, rgba(0, 0, 0, 0.08);
}

.status {
    margin-bottom: 10px;
    font-size: $small-font-size;
}

.card-text {
    font-family: 'Noto Naskh Arabic';
    font-size: 1.5em;
}