// Body
$body-bg: #f5f9fc;

// Typography
$font-family-sans-serif: 'Noto Kufi Arabic';
$headings-font-family: 'Noto Kufi Arabic';
$font-size-base: 0.8rem;
$line-height-base: 1.6;


$primary: #2c94c4;
$btn-border-radius: 0;
$card-border-width: 0;
$card-border-radius: 0;
$warning: #f28406;
$link-color: #000;
$input-border-radius: 0;